<%- include("partials/header") %>
    <h1>Home</h1>
    <p><%= content %></p>

    <% posts.forEach(element => { %>
        <h4><%= element.title %></h4>
        <p><%= element.text %></p>
    <% }); %>

<%- include("partials/footer") %>